# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore environment files
.env

# Ignore OS/system files
.DS_Store
Thumbs.db

# Ignore virtual environment folder
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore my venv
study/